body {
  padding-top:50px;
}

.glyphicon-remove:hover {
  cursor:pointer;
}
.paddedBlock {
	display: inline-block;
	padding-bottom:5px;
}
.alignRight {
	float:right;
}

a {
	color:#111199;
	font-size:115%;
}

.biggerText {
	font-size:115%;
}

.dateRightJustified {
	width: 100%;
	text-align: right;
	margin-right:15px;
}

.level1 {
	background-color: #FFFFFF; !important;
	margin-bottom: 3px;
}

.level2 {
	background-color: #F9F9F9; !important;
	margin-bottom: 3px;
}

.level3 {
	background-color: #F3F3F3; !important;
	margin-bottom: 3px;
}

header, .header {
	color: #cccccc !important;
	text-align: center !important;
	width: 100%;
}


footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   padding-top: 5px;
   font-size:14px;
   color: #cccccc;
   width:100%;
   background:#000;
   text-align: center;
}
